@model Item
@{
    ViewData["Title"] = "Delete";
}


<form method="post" asp-action="Delete" >
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Item</h2>
            <hr />
        </div>     
        <div class="mb-3">
            <label asp-for="Name"></label>S
            <input asp-for="Name" class="form-control"  disabled />  
        </div>
        <div class="mb-3">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" disabled />          
        </div>
        <div class="mb-3">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.CategoryList" disabled>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <hr />
        <br />
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="items" asp-action="Index" class="btn btn-secondary" style="width:150px">Back To Items</a>
    </div>

</form>

